.waterfall {
  width: 100%;
  box-sizing: border-box;
  gap: 15px;
  padding: 0 10px;
  ::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
    color: transparent;
  }
}

.waterfall-bottom {
  padding-top: 10px;
  color: $gray-7;
  text-align: center;
}
