.rank-page {
  @include page;
}

.rank-container {
  @include container;
  height: auto;
  padding-bottom: max(constant(safe-area-inset-bottom) + 130px, 162px);
  padding-bottom: max(env(safe-area-inset-bottom) + 130px, 162px);
}

.rank-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 26px;
}

.rank-list {
  display: flex;
  flex-direction: column;
  margin-top: 22px;
  gap: 22px;
}
