@font-face {
  font-family: 'iconfont';
  src:
    url('//at.alicdn.com/t/c/font_4916986_52ttzy2dh0w.woff2?t=1748574781816') format('woff2'),
    url('//at.alicdn.com/t/c/font_4916986_52ttzy2dh0w.woff?t=1748574781816') format('woff'),
    url('//at.alicdn.com/t/c/font_4916986_52ttzy2dh0w.ttf?t=1748574781816') format('truetype');
}

.icon {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hot::before {
  content: '\e619';
}

.icon-up::before {
  content: '\e674';
}

.icon-rank::before {
  content: '\e722';
}

.icon-deck::before {
  content: '\e679';
}

.icon-discover::before {
  content: '\e8af';
}

.icon-switch::before {
  content: '\e647';
}

.icon-wave::before {
  content: '\e61a';
}

.icon-setting::before {
  content: '\e679';
}

.icon-win::before {
  content: '\e603';
}

.icon-chart::before {
  content: '\e62c';
}

.icon-arena::before {
  content: '\e607';
}

.icon-crown::before {
  content: '\e756';
}

.icon-battlegrounds::before {
  content: '\e659';
}
