page {
  --primary-color: #ff9d00;
  --success-color: #07c160;
  --dialog-confirm-button-color: #323233;
  --radio-checked-icon-background-color: #1989fa;
  --radio-checked-icon-border-color: #1989fa;
  --popup-z-index: 10005;
  --backdrop-z-index: 10000;
}
