.item {
  position: relative;
  border: 1px solid rgba($orange, 0.4);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  transform: translateX(10px);

  &-index {
    position: absolute;
    left: 0;
    transform: translateX(-50%);
    font-size: 28px;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-right: 20px;
    background-color: $orange;
    color: white;
    border-radius: 50%;
  }

  &-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 4px;
  }

  &-name {
    width: 140px;
    font-size: 32px;
    text-align: center;
    transform: translateX(30px);

    // 为每个职业设置颜色（混合30%黑色）
    &.druid {
      color: color.mix($black, $druid, 30%);
    }
    &.hunter {
      color: color.mix($black, $hunter, 30%);
    }
    &.mage {
      color: color.mix($black, $mage, 30%);
    }
    &.paladin {
      color: color.mix($black, $paladin, 30%);
    }
    &.priest {
      color: color.mix($black, $priest, 30%);
    }
    &.rogue {
      color: color.mix($black, $rogue, 30%);
    }
    &.shaman {
      color: color.mix($black, $shaman, 30%);
    }
    &.warlock {
      color: color.mix($black, $warlock, 30%);
    }
    &.warrior {
      color: color.mix($black, $warrior, 30%);
    }
    &.demonhunter {
      color: color.mix($black, $demonhunter, 30%);
    }
    &.deathknight {
      color: color.mix($black, $deathknight, 30%);
    }
  }

  &-subtitle {
    font-size: 20px;
    font-weight: 300;
  }

  &-text {
    flex: 1;
    text-align: center;
    font-size: 32px;
    line-height: 32px;
  }

  &-img {
    width: 40px;
    height: 40px;
    margin-left: 40px;
    transition: transform 0.3s ease;
  }

  &:active &-img {
    transform: translateX(100%);
  }
}
