.title-bar {
  display: flex;
  align-items: center;
  gap: 10px;

  &-icon {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-title {
    margin-left: 5px;
    font-size: 32px;
    line-height: 32px;
  }

  &-tips {
    display: flex;
    flex-direction: column;
  }
}
