@import '../styles/icon.scss';

.tab-capsule {
  position: fixed;
  bottom: max(constant(safe-area-inset-bottom), 32px);
  bottom: max(env(safe-area-inset-bottom), 32px);
  left: 5vw;
  right: 5vw;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  background-color: $white;
  box-shadow: 0 0 10px 5px rgba($black, 0.1);
  border-radius: 50px;

  &-item {
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100%;
    transition: background-color 0.3s ease;

    &-active {
      background-color: rgba($orange, 0.1);
      border-radius: 50px;
    }

    &-icon {
      font-size: 50px;
      margin-bottom: 5px;
      transition: transform 0.3s ease;
      color: $gray-5;

      &-active {
        transform: scale(1.1);
        color: $orange;
      }
    }

    &-text {
      font-size: 32px;
      color: $gray-5;
      transition: color 0.3s ease;

      &-active {
        color: $orange;
      }
    }
  }
}
