.mine {
  padding: 20px;
}

.decks-page {
  @include page;

  .waterfall-wrapper {
    position: relative;
    width: 100%;
    box-sizing: border-box;
  }

  .search-wrapper {
    position: relative;
    padding: 15px 30px 36px;
    display: flex;
    align-items: center;

    .search {
      flex: 1;
      --search-background-color: transparent;
      --search-content-background-color: #fff7eb;
      --search-content-rounded-border-radius: 25px;
      --search-padding: 0;
      --search-field-padding: 20px 10px;
      --input-font-size: 30px;
      --form-item-icon-size: 32px;
      --cell-icon-margin-left: 15px;
    }

    .custom-dropdown {
      position: absolute;
      height: 76rpx;
      right: 30px;
      z-index: 1000;
    }
  }
}
