.card {
  display: flex;
  height: 50px;
  position: relative;
  width: 100%;

  &-name {
    width: 100%;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
    display: flex;
    gap: 15px;
    position: absolute;
    font-size: 24px;
    color: white;
    z-index: 2;
    left: 10px;
    line-height: 50px;

    &-back {
      font-weight: 600;
      color: #f4d442;
      position: absolute;
      right: 10px;
      width: 40px;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.5);
    }

    .legend {
      font-size: 40px;
    }
  }

  &-frame {
    position: relative;
    height: 100%;
    width: 100%;

    &-title {
      width: 100%;
      line-height: 50px;
      text-align: center;
      white-space: nowrap;
      font-size: 24px;
    }

    &-countbox {
      z-index: 1;
      position: absolute;
      width: 80%;
      height: 100%;
      background: linear-gradient(
        65deg,
        rgb(49, 49, 9) 0%,
        rgb(49, 49, 49) calc(100% - 120px),
        rgba(49, 49, 49, 0) calc(100% - 50px),
        rgba(49, 49, 49, 0) 100%
      );

      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }

    .COMMON::before {
      background: linear-gradient(to right, $dark-common, transparent);
    }

    .RARE::before {
      background: linear-gradient(to right, $dark-rare, transparent);
    }

    .EPIC::before {
      background: linear-gradient(to right, $dark-epic, transparent);
    }

    .LEGENDARY::before {
      background: linear-gradient(to right, $dark-legendary, transparent);
    }

    &-image {
      position: absolute;
      right: 0;
      width: 280px;
      height: 100%;
      background-color: #313131;
      vertical-align: middle;
      background-repeat: no-repeat;
    }
  }
}
