page {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background: linear-gradient(
    to bottom,
    rgba($orange, 0.4),
    rgba($orange, 0.05),
    rgba($orange, 0.05),
    rgba($orange, 0.05),
    rgba($orange, 0.1)
  );
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
