@import './styles/taroify.scss';
@import './styles/icon.scss';

page {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  font-size: 32px;
  background: linear-gradient(
    to bottom,
    rgba($orange, 0.4),
    rgba($orange, 0.05),
    rgba($orange, 0.05),
    rgba($orange, 0.05),
    rgba($orange, 0.1)
  );
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.ellipsis {
  display: inline-block; /* 或 block，根据布局需求 */
  white-space: nowrap; /* 不换行 */
  overflow: hidden; /* 隐藏溢出文本 */
  text-overflow: ellipsis; /* 显示省略号 */
}
